html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: block mandatory;
  height: 100%;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
}
.header-video{
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  scroll-snap-align: end;
  height: 70vh;
  position: relative;
}
.header-video-text{
  text-align: left;
  font-size: 3vw;
  font-weight: bold;
  z-index: 1;
  background: transparent;
  margin: 3vw;
  position: absolute;
  top: 7vh;
}
video{
  position: relative;
  width: 100%;
  height: auto;
}
.header-video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main{
  grid-area: main;
  height: 100vh;
}
.footer{
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: end;
  height: 70vh;
  position: relative;
}
.footer-contact{
  position: absolute;
  left: 8vw;
  top: 10vh;
  font-size: 2vw;
  font-weight: bold;
}
.footer-info{
  position: relative;
  left: 3vw;
}
.footer-news{
  position: absolute;
  padding: 50px;
  width: 30vw;
  right: 15vw;
  font-size: 2vw;
  font-weight: bold;
}
.footer-news-info{
  font-size: 1.2vw;
}
.footer-bottom-text{
  position: absolute;
  bottom: 5vh;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #ff9000;
}

/* Landing Page Products*/
.products {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.products li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  scroll-snap-align: end;
  align-items: center;
  margin: 0;
  position: relative;
}
.product-name{
  font-family: "Calmer";
  font-size: 3vw;
  font-weight: bold;
  position: relative;
  right: 30%;
  bottom: 60%;
}
.product-price{
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  right: 30%;
  bottom: 58%;
}
.product-description{
  font-size: 2.2vw;
  position: absolute;
  color: #ffffff;
  padding: 50px;
  width: 30vw;
  height: 15vh;
  left: 63vw;
  top: 12vh;
  font-family: "Roboto";
}
.product-image{
  max-width: 100vh;
  max-height: 100vw;
  z-index: 1;
  position: relative;
  top: 10%;
}
.product-tessellation{
  width: 100vw;
  min-height: 50%;
  z-index: 0;
  position: absolute;
  bottom: 0px;
  background: white repeat 0 0;
  background-size: 900px 900px;
  animation: tessellate 8s linear infinite;
}
@keyframes tessellate {
  from { background-position: 0 0; }
    to { background-position: 0 -900px; }
}
.header-1{
  font-family: 'Calmer';
  font-size: 2.6rem;
  font-weight: bold;
  padding: 10px 0;
}
.header-2{
  font-size: 2rem;
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
}

/*************TOP**************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/*.grid-container {*/
/*  display: grid;*/
/*  grid-template-areas:*/
/*    "header"*/
/*    "main"*/
/*    "footer";*/
/*  grid-template-rows: 5rem 1fr 5rem;*/
/*  grid-template-columns: 1fr;*/
/*  height: 100%;*/
/*}*/
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar {
  flex: 1 20rem;
}

/* products */

.button {
  padding: .5rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
  right: 30%;
  bottom: 58%;
  font-size: 2.5rem;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  /*background-color: #f0c040;*/
  right:38%;
}
/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
/* Index.css */
.cart {
  padding: 0rem;
  margin: .5rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  z-index: 50;
  padding: 1px;
  width: 100%;
  list-style-type: none;
  font-size:1em;
  border-bottom: 1rem;
}
.cart-items img {
  width: 7rem;
}
.cart-items li {
  display: flex;
  padding: 0rem;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 10;
}
.right {
  text-align: center;
  text-align: right;
  justify-content: 'space-between'

}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}

@font-face {
  font-family: 'Calmer'; /*a name to be used later*/
  src: url(../src/Calmer.ttf); /*URL to font*/
}